#nav
{
	background-color:#545454;
}

#nav_wrapper
{
	width: 900px;
	margin: auto;
	text-align: Center;
	font-family: arial;
	font-size: 20px;
}
#nav ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;

}

#nav ul li 
{
	display: inline-block;
	margin: auto;
}

#nav ul li:hover
{
	background-color: #333;
}

#nav ul li a, visited
{
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#nav ul li a:hover
{
	color: white;
	text-decoration: none;
}

#nav ul li:hover ul
{
	display: block;
}

#nav ul ul
{
	display: none;
	position: absolute;
	background-color: #333;
	border: 5px solid #545454;
	border-top: 0;
	margin-left: -5px;
	min-width: 150px;
}

#nav ul ul li
{
	display: block;
}

#nav ul ul li a, visiited
{
	color: white;
}

#nav ul ul li a:hover
{
	color: #099;	
}

form
{
	text-align: center;
	width:  900px;
	Height: 900px;
	margin: 0px auto auto auto;
	background-color: #D3D3D3;
}

